<?xml version="1.0"?>
<humans>
<!-- MASTER MENU -->
<menu><id>A</id><s>0</s><t>s</t><i>fa fa-home</i><n>Home</n><l>../home/index.php</l></menu>
<!-- SETTING -->
<menu><id>B</id><s>0</s><t>m</t><i>fa fa-edit</i><n>Master Data</n><l>#</l></menu>
<menu><id>C</id><s>0</s><t>m</t><i>fa fa-calendar</i><n>Laporan</n><l>#</l></menu>

<!-- MASTERDATA -->
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Admin </n><l>../data_admin/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Berita </n><l>../data_berita/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Informasi </n><l>../data_informasi/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Materi </n><l>../data_materi/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Permainan </n><l>../data_permainan/index.php</l></menu>

<!-- LAPORAN -->
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Admin </n><l>../data_admin/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Berita </n><l>../data_berita/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Informasi </n><l>../data_informasi/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Materi </n><l>../data_materi/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Permainan </n><l>../data_permainan/index.php?input=cetak</l></menu>


</humans>
